[data-fls-noise] {
  position: relative;
}
[data-fls-noise]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../assets/img/Noise.webp") center repeat;
}
.content-blogpage__information:not(:last-child) {
  margin-bottom: 1rem;
}
.content-blogpage__body, .content-blogpage__author {
  max-width: 62.5rem;
  margin: 0 auto;
}
.content-blogpage__body:not(:last-child) {
  translate: 0 20%;
  transition: translate 0.8s;
}
.content-blogpage__body:not(:last-child).--watcher-view {
  translate: 0 0;
}
.header-blogpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information-blogpage {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.information-blogpage__item {
  display: flex;
  flex: 1 1 15.625rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
[data-fls-watcher] .information-blogpage__item {
  scale: 0;
}
.--watcher-view .information-blogpage__item {
  transition-duration: 0.8s;
}
.--watcher-view .information-blogpage__item:nth-child(1) {
  transition-delay: 0.4s;
}
.--watcher-view .information-blogpage__item:nth-child(2) {
  transition-delay: 0.5s;
}
.--watcher-view .information-blogpage__item:nth-child(3) {
  transition-delay: 0.6s;
}
.--watcher-view .information-blogpage__item:nth-child(4) {
  transition-delay: 0.7s;
}
.--watcher-view .information-blogpage__item:nth-child(5) {
  transition-delay: 0.8s;
}
.--watcher-view .information-blogpage__item:nth-child(6) {
  transition-delay: 0.9s;
}
.--watcher-view .information-blogpage__item {
  scale: 1;
}
.information-blogpage__value {
  color: #dac5a7;
}

.media-blogpage__image {
  width: 100%;
}
.body-blogpage h2,
.body-blogpage h3 {
  font-family: "Satoshi", sans-serif;
  color: #dac5a7;
  font-weight: 300;
}
.body-blogpage h2:not(:last-child),
.body-blogpage h3:not(:last-child) {
  margin-bottom: 1rem;
}
.body-blogpage h2 {
  line-height: 1.1;
}
.body-blogpage h3 {
  line-height: 1.2;
}
.body-blogpage p {
  line-height: 1.8;
}
.body-blogpage p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.author-blogpage__content:not(:last-child) {
  margin-bottom: 1rem;
}
.author-blogpage__title {
  font-family: "Satoshi", sans-serif;
  color: #dac5a7;
  font-weight: 300;
}
.author-blogpage__title {
  letter-spacing: 0.05em;
  line-height: 1.2;
}
.author-blogpage__title:not(:last-child) {
  margin-bottom: 1rem;
}
.author-blogpage__text {
  line-height: 1.8;
}
.author-blogpage__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.author-blogpage__social .social-blocks__item {
  flex: 1 1 12.5rem;
}
.body-author-blogpage {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.body-author-blogpage__media {
  aspect-ratio: 1;
  flex: 0 0 3.75rem;
  translate: 0 20%;
  transition: translate 0.8s;
}
.body-author-blogpage__media.--watcher-view {
  translate: 0 0;
}
.body-author-blogpage__avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body-author-blogpage__content {
  translate: 0 20%;
  transition: translate 0.8s;
}
.body-author-blogpage__content.--watcher-view {
  translate: 0 0;
}
.body-author-blogpage__name {
  font-family: "Satoshi", sans-serif;
  color: #dac5a7;
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  line-height: 1.4;
}
.related-blogpage__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(21.875rem, 100%), 1fr));
  gap: 2rem;
  translate: 0 20%;
  transition: translate 0.8s;
}
.related-blogpage__items.--watcher-view {
  translate: 0 0;
}
@media (max-width: 20em) {
  .blogpage {
    padding-top: 7.5rem;
  }
  .blogpage {
    padding-bottom: 1.875rem;
  }
  .blogpage__content {
    padding-bottom: 1.875rem;
  }
  .content-blogpage__header {
    margin-bottom: 1.875rem;
  }
  .content-blogpage__media:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  .content-blogpage__body:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .header-blogpage {
    gap: 1.25rem;
  }
  .information-blogpage__item {
    padding: 0.625rem;
  }
  .body-blogpage section:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .body-blogpage h2 {
    font-size: 2rem;
  }
  .body-blogpage h3 {
    font-size: 1.5rem;
  }
  .author-blogpage__content {
    padding: 1.25rem;
  }
  .author-blogpage__main:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .author-blogpage__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  .blogpage {
    padding-top: clamp( 7.5rem , 5.626126126125rem  +  9.3693693694vw , 14rem );
  }
  .blogpage {
    padding-bottom: clamp( 1.875rem , 0.10923423423125rem  +  8.8288288288vw , 8rem );
  }
  .blogpage__content {
    padding-bottom: clamp( 1.875rem , 0.10923423423125rem  +  8.8288288288vw , 8rem );
  }
  .content-blogpage__header {
    margin-bottom: clamp( 1.875rem , 0.9740990991rem  +  4.5045045045vw , 5rem );
  }
  .content-blogpage__media:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.9740990991rem  +  4.5045045045vw , 5rem );
  }
  .content-blogpage__body:not(:last-child) {
    margin-bottom: clamp( 1.5rem , 1.06756756756875rem  +  2.1621621622vw , 3rem );
  }
  .header-blogpage {
    gap: clamp( 1.25rem , 0.74549549549375rem  +  2.5225225225vw , 3rem );
  }
  .information-blogpage__item {
    padding: clamp( 0.625rem , 0.22860360360625rem  +  1.981981982vw , 2rem );
  }
  .body-blogpage section:not(:last-child) {
    margin-bottom: clamp( 1.5rem , 1.06756756756875rem  +  2.1621621622vw , 3rem );
  }
  .body-blogpage h2 {
    font-size: clamp( 2rem , 1.7117117117125rem  +  1.4414414414vw , 3rem );
  }
  .body-blogpage h3 {
    font-size: clamp( 1.5rem , 1.35585585585625rem  +  0.7207207207vw , 2rem );
  }
  .author-blogpage__content {
    padding: clamp( 1.25rem , 0.74549549549375rem  +  2.5225225225vw , 3rem );
  }
  .author-blogpage__main:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.03378378378125rem  +  1.0810810811vw , 2rem );
  }
  .author-blogpage__title {
    font-size: clamp( 1.5rem , 1.35585585585625rem  +  0.7207207207vw , 2rem );
  }
}
@media (min-width: 89.375em) {
  .blogpage {
    padding-top: 14rem;
  }
  .blogpage {
    padding-bottom: 8rem;
  }
  .blogpage__content {
    padding-bottom: 8rem;
  }
  .content-blogpage__header {
    margin-bottom: 5rem;
  }
  .content-blogpage__media:not(:last-child) {
    margin-bottom: 5rem;
  }
  .content-blogpage__body:not(:last-child) {
    margin-bottom: 3rem;
  }
  .header-blogpage {
    gap: 3rem;
  }
  .information-blogpage__item {
    padding: 2rem;
  }
  .body-blogpage section:not(:last-child) {
    margin-bottom: 3rem;
  }
  .body-blogpage h2 {
    font-size: 3rem;
  }
  .body-blogpage h3 {
    font-size: 2rem;
  }
  .author-blogpage__content {
    padding: 3rem;
  }
  .author-blogpage__main:not(:last-child) {
    margin-bottom: 2rem;
  }
  .author-blogpage__title {
    font-size: 2rem;
  }
}
@media (any-hover: hover) {
  a.information-blogpage__value:hover {
    text-decoration: underline;
  }
}