.pricing__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(21.875rem, 100%), 1fr));
  gap: 2rem;
}
.pricing__item {
  translate: 0 20%;
  transition: translate 0.8s;
}
.pricing__item.--watcher-view {
  translate: 0 0;
}
.item-pricing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.item-pricing__popular {
  position: absolute;
}
.item-pricing__popular {
  padding: 0.5rem;
  background-color: #dac5a7;
  color: #0e0e0e;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.2;
}
.item-pricing__header {
  display: grid;
  gap: 0.5rem;
}
.item-pricing__value {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}
.item-pricing__value {
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #dac5a7;
}
.item-pricing__text {
  line-height: 1.8;
}
.item-pricing__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.item-pricing__services {
  flex-grow: 1;
  color: #dac5a7;
}
.item-pricing__service:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.0625rem solid rgba(218, 197, 167, 0.15);
}
.faq-pricing {
  display: flex;
}
.faq-pricing__title {
  font-family: "Satoshi", sans-serif;
}
.faq-pricing__title {
  line-height: 1.1;
  font-weight: 300;
  color: #dac5a7;
}
.faq-pricing__title span {
  font-family: "Gambetta", sans-serif;
}
.faq-pricing__item:not(:last-child) {
  margin-bottom: 1rem;
}
.faq-pricing__item {
  translate: 0 20%;
  transition: translate 0.8s;
}
.faq-pricing__item.--watcher-view {
  translate: 0 0;
}
.faq-pricing__caption {
  cursor: pointer;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}
.faq-pricing__caption {
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: #dac5a7;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 0.625rem;
  align-items: center;
  transition: color 0.3s;
}
.faq-pricing__caption::before {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  backdrop-filter: blur(1.875rem);
  background: rgba(218, 197, 167, 0.05);
  font-size: 0.625rem;
}
.faq-pricing__caption.--spoller-active::before {
  rotate: 45deg;
}
.faq-pricing__body {
  padding-top: 1rem;
}
.faq-pricing__body p {
  line-height: 1.8;
}
.faq-pricing__body p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 62.5em) {
  .faq-pricing {
    flex-direction: column;
  }
  .faq-pricing__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 20em) {
  .pricing {
    padding-top: 7.5rem;
  }
  .pricing {
    padding-bottom: 1.875rem;
  }
  .pricing__blockhead {
    margin-bottom: 1.875rem;
  }
  .pricing__items {
    margin-bottom: 2.5rem;
  }
  .item-pricing {
    padding: 1.25rem;
  }
  .item-pricing__popular {
    top: 0.3125rem;
  }
  .item-pricing__popular {
    right: 0.3125rem;
  }
  .item-pricing__value {
    font-size: 1.5rem;
  }
  .faq-pricing__title {
    font-size: 3rem;
  }
  .faq-pricing__item {
    padding: 0.625rem;
  }
  .faq-pricing__caption {
    font-size: 1.125rem;
  }
}
@media (min-width: 6.25em) {
  .faq-pricing {
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  .pricing {
    padding-top: clamp( 7.5rem , 5.626126126125rem  +  9.3693693694vw , 14rem );
  }
  .pricing {
    padding-bottom: clamp( 1.875rem , 0.10923423423125rem  +  8.8288288288vw , 8rem );
  }
  .pricing__blockhead {
    margin-bottom: clamp( 1.875rem , 1.2623873873875rem  +  3.0630630631vw , 4rem );
  }
  .pricing__items {
    margin-bottom: clamp( 2.5rem , 0.3378378378375rem  +  10.8108108108vw , 10rem );
  }
  .item-pricing {
    padding: clamp( 1.25rem , 0.74549549549375rem  +  2.5225225225vw , 3rem );
  }
  .item-pricing__popular {
    top: clamp( 0.3125rem , 0.04222972973125rem  +  1.3513513514vw , 1.25rem );
  }
  .item-pricing__popular {
    right: clamp( 0.3125rem , 0.04222972973125rem  +  1.3513513514vw , 1.25rem );
  }
  .item-pricing__value {
    font-size: clamp( 1.5rem , 1.35585585585625rem  +  0.7207207207vw , 2rem );
  }
  .faq-pricing__title {
    font-size: clamp( 3rem , 2.7117117117125rem  +  1.4414414414vw , 4rem );
  }
  .faq-pricing__item {
    padding: clamp( 0.625rem , 0.22860360360625rem  +  1.981981982vw , 2rem );
  }
  .faq-pricing__caption {
    font-size: clamp( 1.125rem , 1.0889639639625rem  +  0.1801801802vw , 1.25rem );
  }
}
@media (min-width: 62.5em) {
  .faq-pricing__header {
    position: sticky;
    top: 0;
    padding-block: 2rem;
    padding-right: 3rem;
  }
  .faq-pricing__title span {
    display: block;
  }
  .faq-pricing__items {
    flex: 0 0 50%;
  }
}
@media (min-width: 89.375em) {
  .pricing {
    padding-top: 14rem;
  }
  .pricing {
    padding-bottom: 8rem;
  }
  .pricing__blockhead {
    margin-bottom: 4rem;
  }
  .pricing__items {
    margin-bottom: 10rem;
  }
  .item-pricing {
    padding: 3rem;
  }
  .item-pricing__popular {
    top: 1.25rem;
  }
  .item-pricing__popular {
    right: 1.25rem;
  }
  .item-pricing__value {
    font-size: 2rem;
  }
  .faq-pricing__title {
    font-size: 4rem;
  }
  .faq-pricing__item {
    padding: 2rem;
  }
  .faq-pricing__caption {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .faq-pricing__caption:hover {
    color: #f9efe1;
  }
}