.hero-singlework__container {
  display: flex;
  flex-direction: column;
}
.hero-singlework__button {
  align-self: center;
}
.hero-singlework__info {
  width: 100%;
  margin: 0 auto;
  max-width: 62.5rem;
}

.project-singlework__picture {
  position: relative;
  overflow: hidden;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  border-radius: 0.125rem;
}
.project-singlework__picture::after {
  content: "";
  background: url(../assets/img/Noise.webp) 0 0 repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.project-singlework__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info-singlework {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem 2rem;
}
.info-singlework__item {
  flex: 1 1 9.375rem;
  text-align: center;
  padding: 1rem;
}
[data-fls-watcher] .info-singlework__item {
  scale: 0;
}
.--watcher-view .info-singlework__item {
  transition-duration: 0.8s;
}
.--watcher-view .info-singlework__item:nth-child(1) {
  transition-delay: 0.4s;
}
.--watcher-view .info-singlework__item:nth-child(2) {
  transition-delay: 0.5s;
}
.--watcher-view .info-singlework__item:nth-child(3) {
  transition-delay: 0.6s;
}
.--watcher-view .info-singlework__item:nth-child(4) {
  transition-delay: 0.7s;
}
.--watcher-view .info-singlework__item:nth-child(5) {
  transition-delay: 0.8s;
}
.--watcher-view .info-singlework__item:nth-child(6) {
  transition-delay: 0.9s;
}
.--watcher-view .info-singlework__item {
  scale: 1;
}
.info-singlework__value {
  color: #dac5a7;
}

.body-singlework__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}
.body-singlework__content {
  flex: 1 1 28.125rem;
}
.body-singlework__items {
  flex: 1 1 28.125rem;
  display: grid;
}
.body-singlework__item {
  translate: 0 20%;
  transition: translate 0.8s;
}
.body-singlework__item.--watcher-view {
  translate: 0 0;
}
.item-body-singlework__title:not(:last-child) {
  margin-bottom: 1rem;
}
.item-body-singlework__text {
  line-height: 1.8;
}
.item-body-singlework__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 20em) {
  .page--singlework {
    padding-top: 7.5rem;
  }
  .page--singlework {
    padding-bottom: 1.875rem;
  }
  .singlework__hero {
    margin-bottom: 1.875rem;
  }
  .singlework__project {
    margin-bottom: 1.875rem;
  }
  .hero-singlework__container {
    gap: 1.25rem;
  }
  .body-singlework__container {
    column-gap: 1.25rem;
  }
  .body-singlework__items {
    gap: 0.9375rem;
  }
  .item-body-singlework {
    padding: 1.25rem;
  }
  .item-body-singlework__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  .page--singlework {
    padding-top: clamp( 7.5rem , 5.626126126125rem  +  9.3693693694vw , 14rem );
  }
  .page--singlework {
    padding-bottom: clamp( 1.875rem , -0.46734234234375rem  +  11.7117117117vw , 10rem );
  }
  .singlework__hero {
    margin-bottom: clamp( 1.875rem , 1.2623873873875rem  +  3.0630630631vw , 4rem );
  }
  .singlework__project {
    margin-bottom: clamp( 1.875rem , 0.10923423423125rem  +  8.8288288288vw , 8rem );
  }
  .hero-singlework__container {
    gap: clamp( 1.25rem , 0.74549549549375rem  +  2.5225225225vw , 3rem );
  }
  .body-singlework__container {
    column-gap: clamp( 1.25rem , -0.11936936936875rem  +  6.8468468468vw , 6rem );
  }
  .body-singlework__items {
    gap: clamp( 0.9375rem , 0.63119369369375rem  +  1.5315315315vw , 2rem );
  }
  .item-body-singlework {
    padding: clamp( 1.25rem , 0.74549549549375rem  +  2.5225225225vw , 3rem );
  }
  .item-body-singlework__title {
    font-size: clamp( 1.25rem , 1.177927927925rem  +  0.3603603604vw , 1.5rem );
  }
}
@media (width > 62.25em) {
  .body-singlework__content {
    position: sticky;
    top: 9.375rem;
  }
}
@media (min-width: 89.375em) {
  .page--singlework {
    padding-top: 14rem;
  }
  .page--singlework {
    padding-bottom: 10rem;
  }
  .singlework__hero {
    margin-bottom: 4rem;
  }
  .singlework__project {
    margin-bottom: 8rem;
  }
  .hero-singlework__container {
    gap: 3rem;
  }
  .body-singlework__container {
    column-gap: 6rem;
  }
  .body-singlework__items {
    gap: 2rem;
  }
  .item-body-singlework {
    padding: 3rem;
  }
  .item-body-singlework__title {
    font-size: 1.5rem;
  }
}