.social-blocks {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.social-blocks__link {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.8;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #dac5a7;
  font-family: "Satoshi", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
}
.social-blocks__link::before {
  font-size: 1.125rem;
  line-height: 1;
}
.social-blocks__link::after {
  line-height: 1;
  rotate: 45deg;
  font-size: 1rem;
  font-family: iconfont;
  content: "\f112";
}
@media (max-width: 20em) {
  .social-blocks__link {
    padding-inline: 0.9375rem;
  }
  .social-blocks__link {
    padding-block: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  .social-blocks__link {
    padding-inline: clamp( 0.9375rem , 0.7753378378375rem  +  0.8108108108vw , 1.5rem );
  }
  .social-blocks__link {
    padding-block: clamp( 0.625rem , 0.51689189189375rem  +  0.5405405405vw , 1rem );
  }
}
@media (min-width: 89.375em) {
  .social-blocks__link {
    padding-inline: 1.5rem;
  }
  .social-blocks__link {
    padding-block: 1rem;
  }
}
@media (any-hover: hover) {
  .social-blocks__link:hover {
    color: #0e0e0e;
    background-color: #dac5a7;
  }
}