.works {
  display: grid;
  gap: 2rem;
}
.works {
  grid-template-columns: repeat(auto-fill, minmax(min(28.125rem, 100%), 1fr));
}
html:not([data-fls-touch]) .works:has(.item-work:hover) .item-work:not(:hover)::after {
  opacity: 0.9;
}

.item-work {
  overflow: hidden;
  position: relative;
}
.item-work::after {
  content: "";
  transition: opacity 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background-color: #0e0e0e;
}
.item-work__picture {
  display: block;
  position: relative;
  aspect-ratio: 684/513;
}
.item-work__picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../assets/img/Noise.webp") center/cover no-repeat;
}
.item-work__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s;
}
.item-work__body {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  border-radius: 0.125rem;
  background: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(1.875rem);
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
}
.item-work__body {
  padding: 1rem 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
  align-items: center;
  justify-content: space-between;
}
.item-work__name {
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.04em;
}
.item-work__link-name {
  transition: color 0.3s;
}
.item-work__category {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  transition: color 0.3s;
}
@media (max-width: 20em) {
  .works {
    gap: 0.9375rem;
  }
  .item-work__body {
    left: 0.625rem;
  }
  .item-work__body {
    right: 0.625rem;
  }
  .item-work__body {
    bottom: 0.625rem;
  }
  .item-work__name {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  .works {
    gap: clamp( 0.9375rem , 0.63119369369375rem  +  1.5315315315vw , 2rem );
  }
  .item-work__body {
    left: clamp( 0.625rem , 0.22860360360625rem  +  1.981981982vw , 2rem );
  }
  .item-work__body {
    right: clamp( 0.625rem , 0.22860360360625rem  +  1.981981982vw , 2rem );
  }
  .item-work__body {
    bottom: clamp( 0.625rem , 0.22860360360625rem  +  1.981981982vw , 2rem );
  }
  .item-work__name {
    font-size: clamp( 1.125rem , 1.01689189189375rem  +  0.5405405405vw , 1.5rem );
  }
}
@media (min-width: 89.375em) {
  .works {
    gap: 2rem;
  }
  .item-work__body {
    left: 2rem;
  }
  .item-work__body {
    right: 2rem;
  }
  .item-work__body {
    bottom: 2rem;
  }
  .item-work__name {
    font-size: 1.5rem;
  }
}
@media (any-hover: hover) {
  .item-work__link-name:hover {
    color: #f9efe1;
  }
  .item-work__category:hover {
    color: #f9efe1;
  }
  .item-work:hover .item-work__image {
    scale: 1.02;
  }
}